/* Global Styles */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #657648;
    background-color: #ebefe3;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #ebefe3;
    color: #657648;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

header .polanta {
    font-weight: 900;
}

header .invest {
    font-weight: 100;
    font-family: "Oswald", sans-serif;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    color: #657648;
    padding: 8px 12px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #bbbcaa;
}

/* Services Section Styles */
.services {
    padding: 100px 0;
    text-align: center;
    background-color: #ebefe3;
}

.services h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #657648;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-card {
    background: #ebefe3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    overflow: hidden;
    width: calc(33.333% - 40px);
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.service-card img {
    width: 100%;
    height: 200px;
}

.service-card h3 {
    margin: 15px;
    font-size: 1.5em;
    color: #657648;
}

.service-card p {
    margin: 0 15px 15px;
    color: #657648;
}


/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

.modal-content-container img {
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.modal-content-container-p {
    text-align: left;
}

.modal-content {
    background-color: #ebefe3;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Размытие фона */
.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

.modal-content.blur-background {
    filter: none;
    pointer-events: auto;
}

/* About Section Styles */
.about {
    margin-bottom: 100px;
    text-align: center;
}

.about:before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

.about h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.about p {
    font-size: 1.2em;
    margin: 0 20px;
}

/* Contact Section Styles */
.contact {
    margin-bottom: 100px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.contact .container {
    max-width: 600px;
    margin: 0 auto;
}

.contact .infospace_phone,
.contact .infospace,
.contact .infospace_adress {
    margin-bottom: 20px;
}

.contact .infospace_phone h3,
.contact .infospace h3,
.contact .infospace_adress h3 {
    display: inline;
    font-weight: bold;
}

/* Footer Styles */
footer {
    background-color: #bbbcaa;
    text-align: center;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ebefe3;
}

footer p {
    margin: 0;
}

footer .social-icons {
    display: flex;
}

footer .social-icons a {
    margin-left: 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #363020;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .property-card, .service-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header .menu-icon {
        display: block;
    }

    header nav {
        display: none;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul.active {
        display: flex;
        flex-direction: column;
        background-color: #ebefe3;
        padding: 10px 0;
        width: 100%;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul li a {
        display: block;
        padding: 15px 0;
        text-align: center;
    }

    .hero {
        height: 70vh;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .property-card, .service-card {
        width: 100%;
        margin: 10px 0;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }
}

